name: CI - Build and Push Docker Images

on:
  push:
    branches:
      - main

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    env:
      DOCKERHUB_USERNAME: ${{ secrets.DOCKERHUB_USERNAME }}
      DOCKERHUB_TOKEN: ${{ secrets.DOCKERHUB_TOKEN }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Log in to DockerHub
        uses: docker/login-action@v2
        with:
          username: ${{ env.DOCKERHUB_USERNAME }}
          password: ${{ env.DOCKERHUB_TOKEN }}

      - name: Build Backend Docker Image
        working-directory: ./backend
        run: |
          docker build -t ${{ env.DOCKERHUB_USERNAME }}/art-gallery-backend:latest .

      - name: Push Backend Docker Image
        run: |
          docker push ${{ env.DOCKERHUB_USERNAME }}/art-gallery-backend:latest

      - name: Build Frontend Docker Image
        working-directory: ./frontend
        run: |
          docker build -t ${{ env.DOCKERHUB_USERNAME }}/art-gallery-frontend:latest .

      - name: Push Frontend Docker Image
        run: |
          docker push ${{ env.DOCKERHUB_USERNAME }}/art-gallery-frontend:latest
